<div>
  <a href="/" class="linkbutton">HOME</a>&nbsp;
  <a href="/examples/example-101" class="linkbutton">101 plain</a>
  <a href="/examples/example-102" class="linkbutton">102 method</a>
  <a href="/examples/example-103" class="linkbutton">103 layout (controller)</a>
  <a href="/examples/example/104" class="linkbutton">104 layout (view)</a>
  <a href="/examples/example/105" class="linkbutton">105 component (local)</a>
  <a href="/examples/example/108" class="linkbutton">108 j-serverlist</a>
</div>
<hr>
  
  