<div style="center">
	<h1>Example 108 (https://componentator.com/components/j-serverlisting/)</h1>

	<div class="row">
		<div class="col-sm-6">
			<h2>With layout</h2>
			<div data---="serverlisting__model__paginate:gotopage">
				<script type="text/html">
					<div class="col-xs-4">
						<div>Item: {{ name }}</div>
					</div>
				</script>
				<script type="text/html">
					<div><b>Layout:</b></div>
					<br />
					<div class="row">{{ body | raw }}</div>
				</script>
			</div>
			<br />
		</div>

		<div class="col-sm-6">
			<h2>Without layout</h2>
			<div data---="serverlisting__model__paginate:gotopage">
				<script type="text/html">
					<div>
						<div>Item: {{ name }}</div>
					</div>
				</script>
			</div>
			<br />
		</div>
	</div>
</div>

<script>
	var model = {};
	model.page = 1;
	model.pages = 3;
	model.count = 10;
	model.items = [];

	fillItems();

	function gotopage(page) {
		model.page = page;
		fillItems();
	}

	function fillItems() {
		const count = model.count;
		const index = (model.page-1) * model.count;
		model.items = [];
		for (var i = 0; i < count; i++) {
			model.items.push({ name: `name ${1 + index + i}` });
		}
		UPD('model');
	}
</script>