<div class="mw12 center ph3-ns">
	<a href="/" class="linkbutton">HOME</a>&nbsp;
	<a href="/examples/example-101" class="linkbutton">101 plain</a>&nbsp;
	<a href="/examples/example-102" class="linkbutton">102 method</a>&nbsp;
	<a href="/examples/example-103" class="linkbutton">103 layout (controller)</a>&nbsp;
	<a href="/examples/example/104" class="linkbutton">104 layout (view)</a>&nbsp;
	<a href="/examples/example/105" class="linkbutton">105 component (local)</a>&nbsp;
	<a href="/examples/example/108" class="linkbutton">108 j-serverlist</a>&nbsp;
</div>
<div>data from model: <b>@{model.data}</b></div>
